.add-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  padding: 20px 0;

  @media (min-width: $tablet-width){
    padding: 20px 20px;
    flex-direction: row;
  }
  @media (min-width: $desktop-width){
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 13px 0;
  }
}



.add-card__title {
  width: 50%;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  @media (min-width: $tablet-width){
    width: 70%;
    }
  @media (min-width: $desktop-width){
    width: 36%;
  }
}

.add-card__detail {
  width: 100%;
  padding: 10px 0;

  @media (min-width: $tablet-width){
    width: 30%;
    }
}

.add-card__link {
  width: 100%;
  padding: 10px 0;

  @media (min-width: $desktop-width){
    width: 30%;
  }
}
.add-card__table-row {
  width: 100%;
  text-align: right;
}


.add-card__table-cell:nth-child(odd) {
  text-align: left;
  @media (min-width: $tablet-width){
    text-align: right;
    width: 70%;
  }
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
