.add-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid rgba(205, 205, 205, 0.5);
  border-top: 1px solid rgba(205, 205, 205, 0.5);
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 23px 37px 25px;
    flex-direction: row;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 14px 0 13px;
    border-left: none;
    border-right: none;
    align-items: center;
  }
}

.add-card__title {
  width: 50%;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    padding-top: 0;
    line-height: normal;
  }

  @media (min-width: $desktop-width) {
    width: 32%;
    padding: 0;
  }
}

.add-card__detail {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;

  font-family: "Arial", "Tahoma", sans-serif;
  border-spacing: 0;
  line-height: 1;


  @media (min-width: $tablet-width) {
    width: 50%;
    align-self: self-end;
    font-size: 16px;
    padding-bottom: 21px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    align-self: stretch;
    width: 32%;
    padding: 15px 3px 0 0;
  }
}

.add-card__link {
  width: 100%;
  padding: 10px 0;
  line-height: 1.25;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 27%;
    padding-top: 11px;
    padding-bottom: 12px;
  }
}

.add-card__table-row {
  width: 100%;
  text-align: right;
}

.add-card__table-cell:nth-child(odd) {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: right;
    width: 71%;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
