.add-products {
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}

.add-products__item {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.add-products__inner {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.add-products__title {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin-top: 29px;
  margin-bottom: 34px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 36px;
    margin-top: 0;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 81px;
  }
}

.add-products__title span {
  background: $white;
  z-index: 1;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}

.add-products__title::before {
  content: "";
  height: 3px;
  position: absolute;
  background-color: $green;
  width: calc(100% - 20px);
  top: 55%;
  z-index: -1;

  @media (min-width: $tablet-width) {
    left: -20px;
    top: 60%;
    width: calc(100% + 20px);
  }

  @media (min-width: $desktop-width) {
    left: -70px;
    width: calc(100% + 70px);
  }
}

.add-products__list {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 40px);
    margin-right: 40px;
    margin-bottom: 78px;
  }
}

.add-products__offer {
  background-image: url("/../img/gift-photo-mobile@1x.jpg");
  background-color: $green;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 65px;
  padding-bottom: 41px;
  margin-bottom: 36px;

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");

    &.webp {
      background-image: url("../img/gift-photo-mobile@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("/../img/gift-photo-tablet@1x.jpg");
    flex-direction: row;
    justify-content: space-between;
    padding: 65px 110px 69px 91px;
    align-items: flex-start;
    margin-bottom: 75px;

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");

      &.webp {
        background-image: url("../img/gift-photo-tablet@2x.webp");
      }
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    background-image: url("/../img/gift-photo-desktop@1x.jpg");
    box-sizing: border-box;
    width: 245px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 44px;
    height: 289px;

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");

      &.webp {
        background-image: url("../img/gift-photo-desktop@2x.webp");
      }
    }
  }
}

.add-products__gift-icon {
  fill: $white;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.add-products__offer-text {
  color: $white;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Tahoma", sans-serif;
  text-align: center;
  margin: 0;
  padding: 62px 48px 0 58px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 6px 0 0 0;
    width: 175px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
