.advantages__title {
  font-size: 36px;
  padding-left: 20px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 50px;
  margin-bottom: 20px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 50%;
    display: block;
    margin-bottom: 87px;
    padding-right: 160px;
    min-height: 230px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding-right: 70px;
    margin-bottom: 87px;
  }
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: $green;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    width: 80px;
    height: 80px;
  }
}

.advantages__item--benefit::before {
  background-image: url(../../img/advantage-leaf@1x.png);
}

.advantages__item--usability::before {
  background-image: url(../../img/advantage-powder@1x.png);
}

.advantages__item--economy::before {
  background-image: url(../../img/advantage-dining@1x.png);
}

.advantages__item--result::before {
  background-image: url(../../img/advantage-clock@1x.png);
}

.advantages__item::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 130px;
    top: 90px;
    color: $gray;
    z-index: -1;
    font-size: 281px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--benefit::after {
    content: "1";
  }

  .advantages__item--usability::after {
    content: "2";
  }

  .advantages__item--economy::after {
    content: "3";
  }

  .advantages__item--result::after {
    content: "4";
  }
}
