.advantages {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    border-bottom: 1px solid $gray;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    border: none;
  }
}

.advantages__title {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 50px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 21px;
}

.advantages__item {
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  font-family: "Arial", "Tahoma", sans-serif;

  @media (min-width: $tablet-width) {
    width: 50%;
    display: block;
    margin-bottom: 87px;
    padding-right: 140px;
    min-height: 230px;

    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n) {
      padding-left: 28px;
      padding-right: 80px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding-right: 40px;
    margin-bottom: 0;

    &:nth-child(2n) {
      padding-left: 20px;
      padding-right: 5px;
    }

    &:nth-last-child(-n+2) {
      padding-left: 40px;
    }

    &:last-child {
      padding-left: 60px;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: $green;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    width: 80px;
    height: 80px;
    background-size: 55px;
  }
}

.advantages__item--benefit::before {
  background-image: url("../../img/advantage-leaf@1x.png");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../../img/advantage-leaf@2x.png");
  }
}

.advantages__item--usability::before {
  background-image: url("../../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../../img/advantage-powder@2x.png");
  }
}

.advantages__item--economy::before {
  background-image: url("../../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../../img/advantage-dining@2x.png");
  }
}

.advantages__item--result::before {
  background-image: url("../../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../../img/advantage-clock@2x.png");
  }
}

.advantages__item::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 130px;
    top: 90px;
    color: $gray;
    z-index: -1;
    font-size: 281px;
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
  }
}


.advantages__item--benefit::after {
  @media (min-width: $tablet-width) {
    content: "1";
    left: 120px;
  }
}

.advantages__item--usability::after {
  @media (min-width: $tablet-width) {
    content: "2";
    left: 140px;
  }

  @media (min-width: $desktop-width) {
    left: 130px;
  }
}

.advantages__item--economy::after {
  @media (min-width: $tablet-width) {
    content: "3";
    left: 110px;
  }

  @media (min-width: $desktop-width) {
    left: 150px;
  }
}

.advantages__item--result::after {
  @media (min-width: $tablet-width) {
    content: "4";
    left: 141px;
  }

  @media (min-width: $desktop-width) {
    left: 170px;
  }
}
