.card-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: 1px solid rgba(205, 205, 205, 0.5);
    padding-top: 0;
    margin-top: 109px;
    min-height: 432px;
    align-content: flex-end;
  }
}

.card-more__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 45%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: 55%;
  }
}

.card-more__text {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 55%;
    text-align: center;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
  }
}

.card-more__icon {
  fill: $gray;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
  }
}

.card-more__button {
  width: calc(100% - 40px);
  padding-top: 9px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 75px);
  }
}
