.catalog {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-bottom: 47px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
  }
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  padding: 18px 20px 26px 20px;
  line-height: 60px;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    padding-left: 0;
    padding-top: 45px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 62px;
  }
}

.catalog__item {
  border-bottom: 1px solid $gray;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
    margin-bottom: 30px;
    min-height: 432px;
  }

  @media (min-width: $desktop-width) {
    width: calc(25% - 60px);

    &:not(:nth-child(4n-3)) {
      margin-left: 80px;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
