$gray: #f2f2f2;
$dark-gray: #666666;
$gray-light: #eaeaea;
$gray-border: #dcdcdc;
$gray-hvr: #ebebeb;
$gray-hvr-input: #cdcdcd;
$green: #68b738;
$dark-green: #5eaa2f;
$green-active: #8fc46e;
$white: #ffffff;
$black: #000000;
$error-field: #ff8282;
