.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: absolute;
    max-width: 570px;
    background: $white;
    top: 20px;
    left: 30px;
  }
}
