.copyright {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  font-family: "Arial", "Tahoma", sans-serif;
  color: #444444;
  line-height: normal;

  &:hover {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }
}

.copyriht__icon {
  fill: $dark-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

.copyright:hover {
  & .copyright__link {
    color: $green;
  }

  & .copyright__logo .copyriht__icon {
    fill: $green;
  }
}

.copyright:active {
  & .copyright__link {
    color: $green;
    opacity: 0.3;
  }

  & .copyright__logo .copyriht__icon {
    fill: $green;
    opacity: 0.3;
  }
}
