.copyright {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  font-size: 16px;
  text-decoration: none;

  font-family: "Arial", "Tahoma", sans-serif;
  color: #444444;
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  & span {
    @media (min-width: $tablet-width) {
      margin-right: 15px;
    }
  }

  &:active {
    opacity: 0.3;

    & .copyriht__icon {
      fill: $green;
      opacity: 0.3;
    }
  }

  &:hover {
    & .copyriht__icon {
      fill: $green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.copyriht__icon {
  fill: $dark-gray;
}
