.example {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}
