.example {
  background-color: $gray;
  padding: 17px 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $gray;
  }
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding: 42px 30px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-top: 25px;
    line-height: 1;
  }
}

.example__description {
  margin: 0;
  padding: 23px 25px 25px 20px;
  font-family: "Arial", "Tahoma", sans-serif;
  line-height: 1.29;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 40px 23px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 63px 17px 40px;
    width: 435px;
    margin-bottom: 0;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

.example__result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 33px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 40px;
    margin-bottom: 70px;
  }
}

.example__slider {
  position: relative;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
