.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.field__label {
  text-transform: uppercase;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field__input {
  width: 100%;
  margin-left: 15px;
  text-transform: uppercase;
  padding: 12px 12px;
  border: 1px solid;
  border-color: rgba(205, 205, 205, 0.5);
  font-size: 16px;

  &:focus {
    outline: 2px solid $black;
  }

  &:active {
    border: 2px solid $black;

    + .field__icon {
      fill: $green;
    }
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid $error-field;

    + .field__icon {
      fill: $error-field;
    }
  }

  &:hover {
    border: 1px solid $gray-hvr-input;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-left: 20px;
    padding-left: 12px 20px;
  }
}

.field__icon {
  position: absolute;
  right: 13px;
  top: 13px;

  @media (min-width: $tablet-width) {
    top: 18px;
  }

  @media (min-width: $desktop-width) {
    right: 19px;
  }
}
