.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.field__label {
  text-transform: uppercase;
  padding-right: 15px;
  font-size: 16px;
  flex-shrink: 0;
}

.field__input {
  width: 100%;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid;
  border-color: rgba(205, 205, 205, 0.5);
  font-size: 16px;

  &:focus {
    outline: 2px solid $black;
  }

  &:active {
    border: 2px solid $black;

    + .field__icon {
      fill: $green;
    }
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid $error-field;

    + .field__icon {
      fill: $error-field;
    }
  }

  &:hover {
    border: 1px solid $gray-hvr-input;
  }
}

.field__icon {
  position: absolute;
  right: 15px;
}
