.footer {
  display: flex;
  flex-direction: column;

  background-color: $gray;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  max-width: 135px;
  padding: 40px 0 28px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.footer__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 45px 30px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 40px;
  }
}
