.footer {
  display: flex;
  flex-direction: column;

  background-color: $gray;
}

.social {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    border: none;
  }
}



.footer__logo {
  display: block;
  margin: 0 auto;
  max-width: 135px;
  padding: 35px 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
