.form {
  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__pet {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 40px;
  }
}

.form__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 16px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 46px 30px 30px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 40px 31px;
  }
}

.form__description {
  margin: 24px 0 40px 0;
  text-transform: uppercase;
  padding: 0 20px;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
    padding-right: 350px;
    margin: 24px 0 67px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    max-width: 350px;
  }
}

.form__inner-owner {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
    padding-top: 3px;
    margin-top: 72px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-bottom: 34px;
  }
}

.form__inner-checkbox {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 50px;
  }
}

.form__container {
  padding: 19px 18px 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 16px 17px 9px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 78px;
    justify-content: space-between;
  }
}

.form__button {
  width: 100%;
  border: none;
  padding: 11px 15px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    width: calc(50% - 80px);
    font-size: 20px;
    margin-left: 50px;
    padding: 17px 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: calc(50% - 40px);
    padding: 15px 22px;
  }
}

.form__field {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__field:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__fieldset {
  border: 0;
  border-bottom: 1px solid $gray;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.form__radio {
  margin-bottom: 18px;
  margin-top: 5px;
  margin-left: 45px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 55px;
    margin-left: 33px;
    margin-bottom: 23px;
  }
}

.form__radio:last-child {
  margin-bottom: 20px;
}

.form__checkbox {
  margin-left: 45px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: calc(50% - 113px);
    margin-left: 100px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: calc(25% - 80px);
    margin-bottom: 20px;
    margin-left: 99px;
  }
}

.form__fieldset--program-type {
  margin-top: 16px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    border: 1px solid $gray;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
    padding-top: 21px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: calc(50% - 40px);
    margin-bottom: 20px;
    padding-top: 24px;
  }
}

.form__fieldset--pet {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
    padding: 0;
  }
}

.form__fieldset--comments {
  border: none;
  padding: 12px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__fieldset--owner {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__contacts {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 38px);
  }
}

.form__fieldset--add-info {
  border: 0;
  padding: 5px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__legend {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  position: relative;
  margin-bottom: 35px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
  }
}

.form__fieldset .form__span-width {
  width: 200px;
  display: block;
  box-sizing: border-box;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
  }
}

.form__legend::before {
  content: "";
  height: 3px;
  position: absolute;
  background-color: $green;
  width: calc(100% + 20px);
  top: 50%;
  z-index: -1;

  @media (min-width: $tablet-width) {
    left: -30px;
    width: calc(100% + 60px);
    top: 60%;
  }

  @media (min-width: $desktop-width) {
    left: -70px;
    width: calc(100% + 70px);
    top: 61%;
  }
}

.form__legend--width::before {
  top: 14px;

  @media (min-width: $tablet-width) {
    top: 23px;
  }
}

.form__legend span {
  background: $white;
  z-index: 1;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__required-text {
  margin: 20px 0 22px 0;
  text-align: center;
  font-family: "Arial", "Tahoma", sans-serif;

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    padding-top: 18px;
    padding-left: 10px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
    margin: 0;
    text-align: left;
    padding-top: 12px;
  }
}

.form__textarea {
  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
  }

  &:focus {
    outline: 2px solid $black;
  }

  &:active {
    border: 2px solid $black;
  }

  &:hover {
    border: 1px solid $gray-hvr-input;
  }
}
