.header {
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo-image {
  padding-left: 20px;
}

.header__wrapper {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
  }
}

.header__logo img{
  @media (min-width: $tablet-width) {
    display: block;
    width: 200px;
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    height: 80px;
  }
}
