.info-table {
  font-family: "Arial", "Tahoma", sans-serif;
  border-spacing: 0;
  line-height: 1.33;

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
    border-spacing: 0;
    padding-left: 37px;
    padding-right: 16px;
  }
}

.info-table__row {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.info-table__cell {
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.info-table__cell:nth-child(even) {
  text-align: right;
}
