.product-card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid $gray;

  @media (min-width: $tablet-width) {

    align-items: center;
    align-content: flex-end;
    border: none;
    padding: 40px;
    background: #f2f2f2;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  padding-right: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: center;
    padding: 0 60px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.product-card__info {
  font-size: 12px;
}

.product-card__btn {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 8px;
}

.product-card__image-wrapper {
  width: 50%;
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: -220px;

    text-align: center;
  }
}

.product-card__image {
  max-width: 100%;
  height: auto;
}

.product-card__description {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
