.product-card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    align-items: center;
    align-content: flex-end;
    border: none;
    background: $white;
    position: relative;
    z-index: 1;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.product-card::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 112px);
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $gray;
  }
}

.product-card__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0 60px;
    margin: 29px 32px 18px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 19px auto 18px;
    width: 130px;
  }
}

.product-card__info {
  font-size: 12px;
  width: calc(100% - 20px);
}

.product-card__btn {
  width: calc(100% - 40px);
  padding-top: 8px;
  padding-bottom: 10px;
  margin: 0 auto;
  line-height: 1.25;

  @media (min-width: $tablet-width) {
    width: calc(100% - 75px);
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.product-card__image-wrapper {
  width: calc(50% - 20px);
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 27px;
    padding-left: 0;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.product-card__image {
  max-width: 100%;
  height: auto;
}

.product-card__description {
  width: 50%;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}
