.programs-card {
  background-color: $gray;
  display: flex;
  flex-wrap: wrap;
  padding: 26px 17px 20px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.programs-card:last-child {
  @media (min-width: $tablet-width) {
    & .programs-card__description {
      padding-right: 315px;
    }
  }

  @media (min-width: $desktop-width) {
    & .programs-card__description {
      padding-right: 25px;
    }
  }
}

.programs-card__title {
  text-transform: uppercase;
  font-size: 24px;
  padding-left: 20px;
  font-weight: 400;
  margin: 0;
  padding-top: 8px;
  line-height: 1.54;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 18px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 1.03;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 0 214px;
    font-size: 36px;
  }
}

.programs-card__description {
  padding-bottom: 20px;
  padding-top: 23px;
  margin: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  border-bottom: 1px solid #d9d9d9;
  line-height: 1.29;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
    padding-top: 6px;
    padding-left: 53px;
    padding-right: 285px;
    font-size: 16px;
    line-height: 1.5;
    color: #444444;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 72px 52px 33px;
  }
}

.programs-card__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding-top: 22px;
  color: $black;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 0;
    padding-left: 53px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  &:active {
    opacity: 0.3;
  }
}

.programs-card__link::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  background: url("../../img/icon-right-arrow-long.svg") no-repeat center;
  transform: translateY(-50%);
  top: 80%;
  right: -35px;

  @media (min-width: $tablet-width) {
    right: -48px;
    top: 12px;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
  }
}

.programs-card__link:hover::after {
  width: 34px;
  height: 12px;
  right: -40px;

  background: url("../../img/icon-right-arrow-verylong.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    right: -58px;
  }
}

.programs-card__link:active::after {
  opacity: 0.3;
}

.programs-card__icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 61px;
    top: 93px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    right: inherit;
    top: 45px;
    width: 100px;
    height: 100px;
    left: 50px;
  }
}

.programs-card__icon-item {
  position: absolute;
}

.programs-card__icon-item--slim {
  left: 8px;
  bottom: 2px;

  @media (min-width: $tablet-width) {
    width: 69%;
    height: 100%;
    left: 30px;
    bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    left: 15px;
    bottom: 5px;
  }
}

.programs-card__icon-item--pro {
  left: -12px;
  bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 135%;
    height: 100%;
    left: -35px;
    top: 4px;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
    left: -15px;
  }
}
