.radio__label {
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.radio__label::before {
  content: "";
  display: block;
  position: absolute;
  left: -45px;
  top: -5px;

  width: 30px;
  height: 30px;
  border: 1px solid $gray-border;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -12px;
    left: -65px;
  }
}

.radio__label:hover:before {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.radio__label:active:before {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  border: solid 2px $green;
}

.radio__input:checked + .radio__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(circle, $green 6px, $white 0);
  left: -45px;
  top: -5px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -12px;
    left: -65px;
    background: radial-gradient(circle, $green 8px, $white 0);
  }
}
