.result {
  display: flex;
}

.result__list {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.result__item {
  width: 124px;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 20px;
    margin-bottom: 7px;
  }
}

.result__item--cost {
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }
}

.result__value {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin: auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.result__info {
  font-family: "Arial", "Tahoma", sans-serif;
  position: absolute;
  width: 60px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -15px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: $gray;

  @media (min-width: $tablet-width) {
    width: 130px;
    bottom: -5px;
    background-color: $white;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $gray;
  }
}

.result__cost {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 33px;
  margin-top: 10px;
  line-height: normal;

  @media (min-width: $tablet-width) {
    width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    padding-top: 5px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
    margin-top: 45px;
    display: inline;

    & span {
      padding-right: 63px;
    }
  }
}
