@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"),
       url("../../fonts/oswaldmedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
 };

 @font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldregular.woff2") format("woff2"),
       url("../../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
 };

body {
  font-family: "Oswald", "Arial", sans-serif;;
  font-size: 14px;
  color: black;
  line-height: 18px;
  font-weight: 400;
};

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
};
