body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: $black;
  line-height: 18px;
  font-weight: 400;
}

$tablet-width: 769px;
$desktop-width: 1200px;
$mobile-width-only: 768px;
