.textarea {
  width: calc(100% - 30px);
  border: 1px solid;
  border-color: rgba(205, 205, 205, 0.5);
  padding: 14px;
  height: 150px;
  text-transform: uppercase;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 110px);
  }
}
